* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

header {
    height: 50px;
    width: 100%;
    background-color: lightskyblue;
}

nav ul {
    display: flex;
    width: 200px;
    justify-content: center;
    margin: 0 auto;
}

li {
    float: left;
    padding: 0 10px;
    width: 50px;
}

ul,
li {
    list-style: none;
}

/* Commenting this out but keeping for reference
.content {
    min-height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}
*/

.button {
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: center;
    padding: 15px 32px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
}